body {
    background: #2C2C2C;
    overflow: hidden;
}

.intro {
    text-align: center;
    /* display: flex; */
    margin-top: 5px;
    color: red;
}

.we-pay {
    color: green;
    margin-top: -15px;
}

.numbers {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
    justify-content: space-around;
}

.num1 {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: yellow;
    color: black;
    border: 2px solid red;
    
}

.num2 {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: blue;
    color: black;
    border: 2px solid white;
}

.num3 {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: black;
    border: 2px solid green;
}

.numbers {
    display: flex;
    margin-top: 20px;
}

.possible {
    margin-top: -60px;
}

.outcome {
    display: grid;
    grid-template-columns: 52px 52px 52px;
    grid-template-rows: 52px 52px 52px;
}

.outcomes {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 55px;
}

.outcome > p {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcomes > p {
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 28px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: black;
    margin-top: 25px;
    border: 2px solid green;
}

.possibles {
    border-left: 2px solid red;
    padding-left: 10px;
}

.bet-amount {
    margin: 20px 15px;
}

