@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Raleway:ital,wght@1,100&display=swap');

body {
    background: #2C2C2C;
    overflow: hidden;
}

.intro {
    text-align: center;
    /* display: flex; */
    margin-top: 5px;
    color: red;
}

.we-pay {
    color: green;
    margin-top: -15px;
}

.numbers {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 10px;
    justify-content: center;
    justify-content: space-around;
}

.num1 {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: yellow;
    color: black;
    border: 2px solid red;
    
}

.num2 {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: blue;
    color: black;
    border: 2px solid white;
}

.num3 {
    height: 100px;
    width: 100px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 30px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: black;
    border: 2px solid green;
}

.numbers {
    display: flex;
    margin-top: 20px;
}

.possible {
    margin-top: -60px;
}

.outcome {
    display: grid;
    grid-template-columns: 52px 52px 52px;
    grid-template-rows: 52px 52px 52px;
}

.outcomes {
    display: grid;
    grid-template-columns: 55px 55px 55px 55px;
    grid-template-rows: 55px 55px 55px 55px;
}

.outcome > .use1 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: green;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid brown;
}

.outcome > .use2 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid orange;
}

.outcome > .use3 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: lime;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid grey;
}

.outcome > .use4 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: pink;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use5 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: purple;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use6 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: maroon;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use7 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: azure;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use8 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: violet;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use9 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: beige;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use10 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: olive;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use11 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: olivedrab;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcome > .use12 {
    height: 35px;
    width: 35px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 25px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: silver;
    color: black;
    margin-top: 25px;
    margin-left: 10px;
    border: 2px solid green;
}

.outcomes > p {
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    display: table-cell;
    text-align: center;
    display: flex;
    font-size: 28px;
    vertical-align: middle;
    border-radius: 50%; /* may require vendor prefixes */
    background: red;
    color: white;
    margin-top: 25px;
    border: 2px solid green;
}

.outcomes > p:active {
    background: white;
    color: red;
} 

.possibles {
    border-left: 2px solid red;
    padding-left: 10px;
}

.bet-amount {
    margin: 20px 15px;
}

.how-much > label {
    /* font-family: Raleway, sans-serif; */
    font-family: Mooli, sans-serif;
    /* font-family: Raleway, sans-serif; */
    letter-spacing: .5px;
    font-size: 17px;
    margin-right: 5px;
}

#amount-to-stake , #multiplier {
    height: 25px;
    font-size: 18px;
    padding: 15px 7px;
    border-radius: 10px;
    background: none;
    border: 2px solid red;
    color: white;
}

#amount-to-stake , #multiplier:active {
    /* border: 2px solid red; */
}

.how-much {
    margin-bottom: 10px;
}

.multiplier {
    margin-bottom: 30px;
}

.the-play {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: rgb(162, 0, 0);
    margin-left: 40%;
    margin-top: -20px;
    /* margin-right: 50%; */
    padding: 10px;
    font-size: 25px;
    border-radius: 15px;
    background-color: rgb(125, 177, 125);
    font-weight: bolder;
    border: none;
}

.multiplier > label {
    /* font-family: Raleway, sans-serif; */
    font-family: Mooli, sans-serif;
    /* font-family: Raleway, sans-serif; */
    letter-spacing: .5px;
    font-size: 17px;
    margin-right: 10px;
}

.the-amount {
    gap: 10px;
}

