body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}

.main-body {
    /* display: flex; */
    text-align: center;
    align-items: center;
    color: white;
    margin-top: 20px;
    padding: 10px 0;
    /* width: 300px; */
    font-size: 25px;
    /* background-color: rgb(50, 50, 50); */
    border: 1px solid black;
}